* {
	font-family: Georgia;
}
.animate {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0 auto;
	background: #e8e8e8;
}
/* Webkit */
::-webkit-input-placeholder { color: #aaa; }
/* Firefox 4-18 */
:-moz-placeholder { color: #aaa; }
/* Firefox 19+ */
::-moz-placeholder { color: #aaa; }
/* IE10+ */
:-ms-input-placeholder { color: #aaa; }
.borderless {
	border: none;
	outline: none;
	box-shadow: none;
}
#layout {
	height: 100%;
	margin: 0 auto;
}
.mc {
	padding-left: 10%;
	padding-right: 10%;
}
#my-tiles-header, #my-cats-header {
	text-align: center;
	margin: 0 auto;
	font-size: 46px;
	border-bottom: 2px solid black;
	margin-top: 20px;
	margin-left: 15%;
	margin-right: 15%;
}

#tiles-categories {
	padding-top: 20px;
}
#cat-holder {
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
}
.cat-row {
	margin-left: 10px;
	width: calc(100% - 15px);
}
.cat-arrow {
	margin-left: 5px;
	margin-right: 5px;
}
.title {
	left: 10px;
	top: 5px;
	position: relative;
	height: 25px;
	padding-left: 5px;
	font-weight: bold;
	font-size: 18px;
}
#category-title {
	height: 25px;
}
#login-change {
	display: none;
}
#pw-title {
	cursor: pointer;
}
#display-name, #user-name, #password {
	padding-left: 5px;
	left: 5px;
	position: relative;
}

#tiles-new {
	text-align: center;
	padding-top: 10px;
}
#new-tile-holder {
	display: none;
	text-align: left;
}
#tiles-holder {
	margin-top: 10px;
	text-align: left;
}
.tile-e {
	margin: 0 auto;
	width: 80%;
	background: #fff;
	margin-bottom: 25px;
	padding-bottom: 5px;
	position: relative;
	box-shadow: 2px 2px 2px -1px #001325;
}
.tile-e-input {
	font-size: 18px;
	padding-top: 0;
	max-width: calc(100% - 15px);
}
.cat-input {
	padding-left: 15px;
	width: calc(100% - 100px);
}
.tile-e-input:focus, .tile-e-input:hover {
	background: #ddd;
}
.tile-e-header {
	height: 35px;
	margin: 0 auto;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
}
.tile-e-type {
	height: 25px;
}
.tile-e-title, .tile-e-sort-type {
	float: left;
	left: 5px;
	position: relative;
	height: 25px;
	padding-left: 5px;
	width: calc(100% - 0px);
}
.tile-e-title {
	top: 5px;
	font-weight: bold;
}
.tile-e .row {
	padding-left: 5px;
	padding-right: 5px;
}
.tile-e-dates {
	padding-left: 5px;
	padding-right: 10px;
}
.tile-e-body {
	text-align: left;
	margin-top: 10px;
}
.month-end, .month-start, .year-end, .year-start, .select-input {
	white-space: nowrap;
	height: 25px;
	padding-left: 5px;
	text-align: left;
	margin: 0 auto;
	left: 5px;
	position: relative;
	background: transparent;
}

.tile-e-content, .tile-e-content-s, .tile-e-content-l {
	margin: 0 auto;
	padding: 5px;
	padding-top: 0;
}
.content-heading {
	padding-left: 5px;
	cursor: pointer;
	font-weight: bold;
	color: #333B42;
	height: 24px;
	padding-top: 4px;
	text-align: center;
}
.content-heading:hover {
	background: #ddd;
}
.content-heading>i {
	float: right;
	padding-top: 3px;
}
.tile-e-content-text, .tile-e-content-s-text, .tile-e-content-l-text {
	max-width: calc(100% - 10px);
	min-width: calc(100% - 10px);
	padding: 5px;
	padding-top: 5px;
	margin: 0 auto;
	position: relative;
	display: none;
	height: 800px;
}

.red-btn {
	cursor: pointer;
	color: #A60400;
}
.red-btn:hover {
	color: #FF0700;
}
.green-btn {
	cursor: pointer;
	color: #008209;
}
.green-btn:hover {
	color: #00C90D;
}
.grey-btn {
	cursor: pointer;
	color: #aaa;
}
.grey-btn:hover {
	color: #001325;
}

.tile-e-del, .tile-e-save, .tile-e-cancel, .tile-e-up, .tile-e-down, .tile-e-add {
	position: relative;
	margin: 0 auto;
	display: inline;
	height: 0;
}
.tile-e-save {
	display: none;
}
.tile-e-up, .tile-e-down {
	position: absolute;
	right: 0;
}
.tile-e-up {
	top: 0;
}
.tile-e-btn-1 {
	position: absolute;
	top: -32px;
	left: -32px;
}
.tile-e-btn-2 {
	position: absolute;
	top: -64px;
	left: -32px;
}
.tile-e-btn-3 {
	position: absolute;
	top: -32px;
	left: 5px;
}
.tile-e-btn-4 {
	position: absolute;
	top: 5px;/*-64px;*/
	left: 5px;
}
@media (max-width: 760px) {
	.month-end, .month-start, .year-end, .year-start {
		width: calc(50% - 10px);
	}
}
@media (max-width: 450px) {
	.mc {
	 	padding-left: 0px;
		padding-right: 0px;
	}
	 .tile-e {
			width: calc(100% - 70px);
		}
}
