* {
	font-family: Roboto;
}
.animate {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.keywords {
	display: none;
}
html {
	height: 100%;
}
body {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	max-width: 100%;
	max-height: 100%;
}
p {
	text-indent: 15px;
	margin: 0;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 22px;
}
h2 {
	margin: 0;
	margin-bottom: 5px;
	margin-top: 20px;
	border-bottom: 2px solid #001325;
}
.inline {
	display: inline !important;
}
/* Webkit */
::-webkit-input-placeholder { color: #001325; }
/* Firefox 4-18 */
:-moz-placeholder { color: #001325; }
/* Firefox 19+ */
::-moz-placeholder { color: #001325; }
/* IE10+ */
:-ms-input-placeholder { color: #001325; }
.selected {
	background: rgba(238, 238, 238, 0.95);
}
.grey-btn {
	cursor: pointer;
	color: #ddd;
}
.grey-btn:hover {
	color: #001325;
}

#example-canvas {
	height: 100%;
	width: 100%;
	position: relative;
}

.top-menu {
	position: absolute;
	left: calc(50% - 220px);
	top: 0px;
	margin: 0 auto;
	max-width: 440px;
	width: calc(100% - 40px);
	padding: 0px;
	background: rgba(255, 255, 255, 0.8);
	font-weight: bold;
	display: inline;
	white-space: nowrap;
	z-index: 1;
	height: 47px;
	border-radius: 1px;
	-webkit-transform: translate3d(0, 0, 0);
}
.search-input {
	margin: 0;
	max-width: 300px;
	width: 0;
	height: 44px;
	background: transparent;
	border: none;
	outline: none;
	box-shadow: none;
	padding: 0;
	padding-left: 48px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 1px;
	font-size: 24px;
	color: #001325;
	position: relative;
	border-radius: 2px;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	-webkit-appearance: none;
}
.search-input.expanded {
	background: #eee;
}
.search-input-icon {
	position: absolute;
	padding-top: 12px;
	padding-bottom: 11px;
	padding-left: 10px;
	padding-right: 10px;
	left: 0px;
	height: 24px;
	width: 24px;
	color: #001325;
}
.search-input-icon.expanded {
	cursor: pointer;
}
.top-menu-name {
	position: absolute;
	font-weight: normal;
	font-size: 24px;
	margin: 0 auto;
	padding-top: 8px;
	padding-bottom: 5px;
	height: 34px;
	display: inline;
	top: 0px;
	pointer-events: none;
	color: #001325;
	background: transparent;
}
.top-menu-name.expanded {
	position: absolute;
	padding-left: 10px;
}
.top-menu-spanner {
	width: calc(100% - 44px);
	left: 44px;
	position: absolute;
	height: 100%;
	top: 0;
	cursor: pointer;
}
.top-menu-spanner:hover {
	background-color: #eee;
}
.top-menu-spanner>i {
	position: absolute;
	right: 5px;
	top: 10px;
	font-size: 24px;
	padding-right: 10px;
}
.top-menu-dropdown {
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	overflow: hidden;
	border-top: 3px solid;
	border-color: transparent;
	-webkit-transition: border 750ms ease-in-out;
}
.top-menu-dropdown-inner {
	display: none;
	background: #fff;
}
.category-choice {
	color: #001325;
	text-align: center;
	height: 22px;
	padding: 10px;
	cursor: pointer;
	border: none;
	font-size: 20px;
	border-left: 20px solid;
	width: calc(100% - 40px);
	-webkit-transition: all 250ms ease-in-out;
}
.category-choice:hover {
	border-left-width: 40px;
	width: calc(100% - 60px);
}
.sort-toggle-choice {
	color: #001325;
	text-align: center;
	height: 22px;
	padding: 10px;
	cursor: pointer;
	border: none;
	font-size: 20px;
	border-left: 20px solid;
	width: calc(100% - 40px);
	-webkit-transition: all 250ms ease-in-out;
}
.sort-toggle-choice:hover {
	border-left-width: 40px;
	width: calc(100% - 60px);
}
.sort-text {
	display: inline;
	color: #7E7E7E;
}
.sort-type {
	display: inline;
	color: #001325;
}

.tilescroll {
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	height: 100%;
	-webkit-transform: translate3d(0, 0, 0);
	background: #fff;
}
.tilepen {
	height: calc(100%);
	position: relative;
	overflow-y: hidden;
	overflow-x: hidden;
	/*-webkit-transform: translate3d(0, 0, 0);*/
	-webkit-transition: box-shadow 750ms ease-in-out;
}
.tilepen>* {
	display: block;
}
.column {
	height: calc(100% - 0px);	
	top: 0px;
	max-width: 440px;
	width: calc(100%);
	margin: 0 auto;
	position: absolute;
	/*border-right: 2px solid #aaa;*/
	overflow-x: hidden;
	z-index: 0;
	-webkit-backface-visibility: hidden;
}
.column-header {
	position: absolute;
	font-size: 18px;
	font-weight: bold;
	white-space: nowrap;
	font-family: Roboto Slab, serif;
	left: 30px;
}
.tile {
	margin: 0 auto;
	margin-top: 5px;
	padding: 10px;
	border: 10px solid;
	outline: none;
	box-shadow: none;
	-webkit-column-break-inside: avoid;
	width: 380px;
	cursor: pointer;
	opacity: 0.95;
	max-height: 275px;
	box-shadow: 2px 2px 2px -1px #001325, inset 0 0 2px #001325;
	background: #fff;
	border-radius: 15px;
	position: absolute;
	z-index: 1;
	display: none;
}
.tile-bounding-box {
	overflow-y: hidden;
	overflow-x: hidden;
	max-height: 250px;
	max-width: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}
.tile:hover {
	opacity: 1;
	box-shadow: 2px 2px 2px -1px #001325, inset 0 0 5px #001325;
}
.tile-header {
	height: 23px;
	width: 100%;
}
.tile-date {
	color: #444;
	text-align: left;
	position: relative;
	left: 0px;
}
.start-date {
	display: inline;
}
.end-date {
	display: inline;
}
.tile-title {
	font-weight: bold;
	margin: 0 auto;
	font-size: 18px;
	color: #001325;
	white-space: nowrap;
	overflow-x: auto;
} 
.fuzzy-timestamp {
	margin: 0 auto;
	float: right;
	color: #444;
}
.tile-content {
	padding-top: 6px;
	text-align: left;
	font-size: 14px;
	color: #001325;
	position: relative;
}
.fade-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100%);
    z-index: 5;
    pointer-events: none;
}
.fade-overlay-text {
	position: absolute;
	bottom: -5px;
	width: 100%;
	text-align: center;
	color: #fff;
	font-family: Roboto;
}
.fade-overlay-text:hover {
	text-decoration: underline;
}

.overlay-container {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
}
.loading-overlay, .noresults-overlay {
	width: 100%;
	text-align: center;
	padding-top: 150px;
	color: #aaa;
	display: none;
}
.loading-symbol {
	font-size: 100px;
	margin-bottom: 25px;
}
.overlay {
	z-index: 10;
	background: #fff;
	border-radius: 10px;
	max-width: 800px;
	margin: 0 auto;
	max-height: calc(100% - 108px);
	margin-top: 32px;
	margin-bottom: 32px;
	pointer-events: all;
	position: relative;
	display: none;
}
@media (max-width: 800px) {
	.overlay {
		max-width: 90%;
	}
}
.overlay-body {	
	overflow-y: auto;
	width: calc(100% - 20px);
	box-shadow: inset 0 0 5px #001325;
	padding: 10px;
	height: calc(100% - 20px);
	display: block;
}
.overlay-close {
	position: absolute;
	right: -20px;
	top: -25px;
	cursor: pointer;
	border-radius: 20px;
	height: 40px;
	width: 40px;
	padding: 0;
}
.overlay-close:hover {
	background: #fff !important;
}
.overlay-close>i {
	height: 34px;
	width: 34px;
	color: #fff;
	padding: 0px;
	font-size: 40px;
	margin: 0;
	padding-left: 3px;
	pointer-events: none;
}
.overlay-header {
	height: auto;
	margin-bottom: 8px;
}
.overlay-title {
	font-weight: bold;
	font-size: 25px;
}
.overlay-date {
	color: #444;
}
.overlay-content {
	
}

.soundcloud {
	overflow: hidden;
	position: relative;
	text-align: center;
}
.sc-play {
	opacity: 0.75;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.sc-play>i {
	margin-top: 20px;
	color: orange;
	background: rgba(10, 10, 10, 0.7);
	padding-top: 7px;
	padding-bottom: 4px;
	border-radius: 15px;
}
.sc-title {
	max-width: 50%;
	margin: 0 auto;
	text-align: center;
	margin-top: 10%;
	display: block;
	color: orange;
	background: rgba(10, 10, 10, 0.7);
	border-radius: 15px;
	padding: 5px;
	font-weight: bold;
	font-size: 18px;
	font-family: Roboto;
}
.sc-load {
	max-width: 50%;
	margin: 0 auto;
	text-align: center;
	margin-top: 15px;
	display: block;
	color: orange;
	background: rgba(10, 10, 10, 0.7);
	border-radius: 15px;
	padding: 5px;
	/*font-weight: bold;*/
	font-size: 12px;
	font-family: Roboto;
}
.sc-play:hover {
	opacity: 1;
}

@media (max-height: 400px) {
	.column {
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		max-width: 440px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 52px;
		height: calc(100% - 52px);
	}
	.tile {
		position: relative;
		max-height: 275px;
		top: 25px;
		margin-bottom: 15px;
	}
	.overlay {
		margin-top: 5%;
		margin-bottom: 5%;
		max-height: calc(90% - 20px);
	}
}
@media (max-width: 460px) {
	.column {
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		max-width: calc(100% - 20px);
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 55px;
		height: calc(100% - 55px);
	}
	.tile {
		max-width: calc(100% - 40px);
		/*max-height: 300px;*/
		width: 100%;
		position: relative;
		top: 25px;
		margin-bottom: 15px;
	}
	.next-column-btn {
		display: block;
	}
	.overlay {
		margin-top: 5%;
		margin-bottom: 5%;
		max-height: calc(100% - 20px);
	}
	.top-menu {
		max-width: calc(100% - 40px);
		width: 100%;
		left: 20px;
	}
	.tilescroll {
		overflow-x: hidden;
	}
}
@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: none;
  }
}
